@page "/checkout/{id}"
@using ILLMS.models
@using ILLMS.service
@inject ArtifactRepository ArtifactRepository
@inject UserRepository userRepository
@inject IJSRuntime JsRuntime

@using Microsoft.AspNetCore.Components.Routing
@using System.Security.Principal
@rendermode InteractiveServer
<PageTitle>Checkout Detail</PageTitle>


@if (!showCheckoutDetail)
{
    @if (book != null)
    {
    
        <section class="checkout-detail">
            <div class="container">
                <div class="card" style="width: 100%;">
                    <div class="card-body">
                        <h5 class="card-title">@book.title (@book.bookId)</h5>
                        <h6 class="card-subtitle mb-2 text-muted">@book.author</h6>
                        <h6 class="card-subtitle mb-2 text-muted">@book.category</h6>
                        @if (@book.fromLoanlibrary)
                        {
                            <h6 class="card-subtitle mb-2 text-muted">Loan from External Library</h6>
                        }
                        else
                        {
                            <h6 class="card-subtitle mb-2 text-muted">Loan from ILLMS Library </h6>
                        }
                        <button @onclick="confirmCheckout" class="btn alert-primary">Confirm Checkout</button>
                    </div>
                </div>
            </div>
        </section> 
    }
    else
    {
        <p>Something went wrong.</p>
    }
}


@if (showCheckoutDetail)
{
    <section>
        <div class="container">
            <div>
                <h1 style="text-align: center; font-size: 20px; margin-top: 30px; color: green;">Your book is checked out successfully.</h1>
            </div>
            <div class="card" style="width: 25rem;">
                <div class="card-body">
                    <h5 class="card-title">Checkout Id: @checkoutDetail.checkoutId</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Book Id: @checkoutDetail.bookId</h6>
                    <h6 class="card-subtitle mb-2 text-muted">Book Title: @book.title</h6>
                    <h6 class="card-subtitle mb-2 text-muted">User Email: @checkoutDetail.email</h6>
                    <h6 class="card-subtitle mb-2 text-muted">Checkout Date: @checkoutDetail.checkoutDate</h6>
                    <h6 class="card-subtitle mb-2 text-muted">Return Date: @checkoutDetail.returnDate</h6>
                    <h6 class="card-subtitle mb-2 text-muted">Location: ETSU Sherrod Library </h6>

                    @* <button @onclick="confirmCheckout" class="btn alert-primary">Back</button> *@
                </div>
            </div>
        </div>
        
    </section>  
}


@code
{
[Parameter]
public string id { get; set; }

Book book;
CheckoutDetail checkoutDetail;
bool showCheckoutDetail = false;
bool showSpinner = false;

protected override async Task OnInitializedAsync()
{
    book = ArtifactRepository.GetBookById(int.Parse(id));
    if (book.fromLoanlibrary)
    {
       Thread.Sleep(3000);
       //call third party
        showSpinner = false;
        
    }
 
}

private void confirmCheckout()
{   
    int checkoutId = new Random().Next();
    User user = userRepository.getCurrentUser();
    checkoutDetail = new CheckoutDetail(checkoutId,user.email , book.bookId, DateOnly.FromDateTime(DateTime.Now), DateOnly.FromDateTime(DateTime.Now).AddDays(30));
    ArtifactRepository.CheckoutBook(checkoutDetail);
    showCheckoutDetail = true;
}
}
